@import '~bootstrap/scss/bootstrap';

body {
    background-color: rgb(161, 159, 159);
}

.card {
    background-color: rgb(29, 27, 27);
    border-radius: 10px;
    box-shadow: 5px 2px 2px 2px rgb(54, 52, 52);
}

.card-img {
    max-width: 100%;
    border-radius: 10px;
}

.card-body {
    color: white;
    border-radius: 10px;
}